.DS_Store
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
*.pid
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
.venv/
.venv_runtime/
.env
.env.*
.vscode/
.idea/
node_modules/
staticfiles/
static/build/
coverage/
htmlcov/
.cache/
pytest_cache/
.ipynb_checkpoints/
azure/.azure/
.azure/
time_backup/
app.db
